@import '../_variables';

.gallery {
  width: 100%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--fullscreen {
    width: 100vw;
  }

  &--center {
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    position: relative;

    &--m {
      width: 50%;
    }

    &--s {
      width: 42%;

      @media (max-width: $breakpoint-tablet-width) {
        width: 50%;
      }
    }

    &--xs {
      width: 24%;

      @media (max-width: $breakpoint-tablet-width) {
        width: 50%;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__header {
    position: relative;
    width: 100%;
  }

  &__title {
    font-size: $global-font-size;
    font-weight: $global-font-weight;
    padding: 0;
    margin: 25px 0 0 2px;
  }

  &__info {
    position: absolute;
    left: 2px;
    top: 6px;
    font-size: $global-font-size-s;
    font-weight: $global-font-weight;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  &__cta {
    font-size: $global-font-size;
    font-weight: $global-font-weight;
    text-transform: uppercase;
    margin: 3px 0 0 2px;
  }
}
