// colors

$black: #000000;
$white: #ffffff;
$dark-grey: #222222;
$light-grey: #f8f8f8;

$main-color: $black;
$second-color: $white;

// fonts family

$main-font: 'Univers LT W05_55 Roman', sans-serif;
$second-font: 'UniversLTPro-65Bold', sans-serif;

// fonts size

$global-font-size: 15px;
$global-font-size-xs: 7px;
$global-font-size-s: 11px;
$global-font-size-m: 12px;

$global-line-height: 1.4;
$global-font-weight: normal;
$global-letter-spacing: -0.008em;

// global margins and padding

$margin-desktop: 100px;
$margin-mobile: 60px;

// button

$button-font: $main-font;
$button-font-size: 12px;
$button-line-height: 1.1;
$button-padding: 10px 40px;
$button-margin: 30px 0;
$button-color: $main-color;
$button-border-radius: 0;

// breakpoints

$breakpoint-large-desktop-width: 2560px;
$breakpoint-desktop-width: 1440px;
$breakpoint-laptop-width: 1024px;
$breakpoint-tablet-width: 768px;
$breakpoint-mobile-width: 455px;
$breakpoint-small-mobile-width: 375px;

// max & min main width

$main-max-width: 1100px;
$main-min-width: 320px;
