@import '_variables';
@import '_fonts';

@import 'modules/_header';
@import 'modules/_background';
@import 'modules/_video-gallery';
@import 'modules/_button';
@import 'modules/_gallery';
@import 'modules/_product';
@import 'modules/_paragraph';

body {
  margin: 0;
  overflow-x: hidden;
}

.main {
  color: $main-color;
  font-family: $main-font;
  font-size: $global-font-size;
  line-height: $global-line-height;
  font-weight: $global-font-weight;
  letter-spacing: $global-letter-spacing;
  min-width: $main-min-width;
  max-width: $main-max-width;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: calc($gap-desktop / 2) 0;
  gap: $gap-desktop;
  @media (max-width: $breakpoint-tablet-width) {
    padding: calc($gap-mobile / 2) 0;
    gap: $gap-mobile;
  }

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
